<%- include("partials/header") %>

<div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="card shadow-sm card-custom">
                        <h3 class="card-h3">
                            <%= postTitle %>
                        </h3>
                        <div class="card-body">
                            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                            <p>
                                <%= postBody %>
                            </p>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="datePostCreation"> Created: 
                                    <%= postDate %>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-sm btn-outline-secondary" href="/">
                                    <a href="/"> Back to Home Page </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer") %>