<%- include('partials/header'); -%>
    <h1>Home</h1>
    <p>
        <%= homeCont %>
    </p>
    <div>
        <% postsComposed.forEach((post) => { %>
            <h3>
                <a href="/posts/<%= post.title %>">
                    <%= post.title %>
                </a>
            </h3>
            <p>
                <%= _.truncate(post.content, {'length': 100}) %>
                <a class="customLink" href="/posts/<%= post.title %>">
                    Read more
                </a>
            </p>
        <% }) %>
    </div>
<%- include('partials/footer'); -%>