<%- include('partials/header'); -%>
    <h1>Home</h1>
    <p>
        <%= homeCont %>
    </p>
    <h3>Composed Posts</h3>
    <div>
        <% postsComposed.forEach((post) => { %>
            <p>
                <%= post.title %> - <%= post.content %>
            </p>
        <% }) %>
    </div>
<%- include('partials/footer'); -%>